@use 'src/styles/variables' as v;

.password-rules {
  font-size: 0.8rem;
  width: 300px;
  margin: 0 auto;

  .password-rule {
    &--succeed {
      color: green;
      display: block;
    }

    &--fail {
      color: red;
      display: block;
    }
  }
}