/*
Définition de variables Sass, par exemple :
   $color: #282c34;
*/

$dark-color: #0e2841;
$primary-color: #17c3b2;
$secondary-color: #ffcb77;
$highlight-color: #fe6d73;
$background-color: #fef9ef;
$dark-opacity-color: #0000005b;
$lightgray-color: #cccccc;
$admin-background-color: #ffff;
$light-opacity-color: hsla(40, 88%, 97%, 0.8);
