@use 'src/styles/variables';

.team {
  padding: 40px 20px;
  background-color: variables.$secondary-color;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &-members-container {
    padding: 20px 0;
    justify-content: flex-start;
    align-items: center;
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    height: 100%;
    width: 100%;
    margin-bottom: 40px;
    gap: 20px;

    .member {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;

      &-image {
        width: 250px;
        height: 250px;

        img {
          width: 100%;
          height: 100%;
          object-fit: cover;
          border-radius: 50%;
        }
      }

      &-name {
        margin-top: 20px;
      }
    }

    &::-webkit-scrollbar {
      height: 10px;
      background-color: variables.$background-color;
      border-radius: 5px;
    }

    &::-webkit-scrollbar-thumb {
      background-color: variables.$dark-color;
      border-radius: 5px;
    }
  }
}

@media screen and (min-width: 768px) {
  .team {
    &-members-container {
      .member {
        &-image {
          width: 400px;
          height: 400px;
        }
      }
    }
  }
}

@media screen and (min-width: 1280px) {
  .team {
    &-members-container {
      justify-content: center;
      gap: 40px;
    }
  }
}
